<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NetmeraAnalyticsApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>06CCA5E02F9214E89E7A3C11D34BE30B423BA235</string>
				<key>dateExpires</key>
				<string>1.01.2027</string>
				<key>type</key>
				<string>Cloud Managed iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06CCA5E02F9214E89E7A3C11D34BE30B423BA235</string>
						<key>dateExpires</key>
						<string>1.01.2027</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAnalytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>95N24W2PH8</string>
						<key>name</key>
						<string>INOMERA ARGE VE BILISIM HIZMETLERI AS.</string>
					</dict>
					<key>versionNumber</key>
					<string>11.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06CCA5E02F9214E89E7A3C11D34BE30B423BA235</string>
						<key>dateExpires</key>
						<string>1.01.2027</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>95N24W2PH8</string>
						<key>name</key>
						<string>INOMERA ARGE VE BILISIM HIZMETLERI AS.</string>
					</dict>
					<key>versionNumber</key>
					<string>11.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06CCA5E02F9214E89E7A3C11D34BE30B423BA235</string>
						<key>dateExpires</key>
						<string>1.01.2027</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurement.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>95N24W2PH8</string>
						<key>name</key>
						<string>INOMERA ARGE VE BILISIM HIZMETLERI AS.</string>
					</dict>
					<key>versionNumber</key>
					<string>11.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06CCA5E02F9214E89E7A3C11D34BE30B423BA235</string>
						<key>dateExpires</key>
						<string>1.01.2027</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementIdentitySupport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>95N24W2PH8</string>
						<key>name</key>
						<string>INOMERA ARGE VE BILISIM HIZMETLERI AS.</string>
					</dict>
					<key>versionNumber</key>
					<string>11.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06CCA5E02F9214E89E7A3C11D34BE30B423BA235</string>
						<key>dateExpires</key>
						<string>1.01.2027</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NetmeraAdvertisingId.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>95N24W2PH8</string>
						<key>name</key>
						<string>INOMERA ARGE VE BILISIM HIZMETLERI AS.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06CCA5E02F9214E89E7A3C11D34BE30B423BA235</string>
						<key>dateExpires</key>
						<string>1.01.2027</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NetmeraAnalytic.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>95N24W2PH8</string>
						<key>name</key>
						<string>INOMERA ARGE VE BILISIM HIZMETLERI AS.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06CCA5E02F9214E89E7A3C11D34BE30B423BA235</string>
						<key>dateExpires</key>
						<string>1.01.2027</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NetmeraAnalyticAutotracking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>95N24W2PH8</string>
						<key>name</key>
						<string>INOMERA ARGE VE BILISIM HIZMETLERI AS.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06CCA5E02F9214E89E7A3C11D34BE30B423BA235</string>
						<key>dateExpires</key>
						<string>1.01.2027</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NetmeraCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>95N24W2PH8</string>
						<key>name</key>
						<string>INOMERA ARGE VE BILISIM HIZMETLERI AS.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06CCA5E02F9214E89E7A3C11D34BE30B423BA235</string>
						<key>dateExpires</key>
						<string>1.01.2027</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NetmeraGeofence.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>95N24W2PH8</string>
						<key>name</key>
						<string>INOMERA ARGE VE BILISIM HIZMETLERI AS.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06CCA5E02F9214E89E7A3C11D34BE30B423BA235</string>
						<key>dateExpires</key>
						<string>1.01.2027</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NetmeraLocation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>95N24W2PH8</string>
						<key>name</key>
						<string>INOMERA ARGE VE BILISIM HIZMETLERI AS.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06CCA5E02F9214E89E7A3C11D34BE30B423BA235</string>
						<key>dateExpires</key>
						<string>1.01.2027</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NetmeraNotification.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>95N24W2PH8</string>
						<key>name</key>
						<string>INOMERA ARGE VE BILISIM HIZMETLERI AS.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06CCA5E02F9214E89E7A3C11D34BE30B423BA235</string>
						<key>dateExpires</key>
						<string>1.01.2027</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NetmeraNotificationContentExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>95N24W2PH8</string>
						<key>name</key>
						<string>INOMERA ARGE VE BILISIM HIZMETLERI AS.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06CCA5E02F9214E89E7A3C11D34BE30B423BA235</string>
						<key>dateExpires</key>
						<string>1.01.2027</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NetmeraNotificationCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>95N24W2PH8</string>
						<key>name</key>
						<string>INOMERA ARGE VE BILISIM HIZMETLERI AS.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06CCA5E02F9214E89E7A3C11D34BE30B423BA235</string>
						<key>dateExpires</key>
						<string>1.01.2027</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NetmeraNotificationInbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>95N24W2PH8</string>
						<key>name</key>
						<string>INOMERA ARGE VE BILISIM HIZMETLERI AS.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06CCA5E02F9214E89E7A3C11D34BE30B423BA235</string>
						<key>dateExpires</key>
						<string>1.01.2027</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NetmeraNotificationServiceExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>95N24W2PH8</string>
						<key>name</key>
						<string>INOMERA ARGE VE BILISIM HIZMETLERI AS.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06CCA5E02F9214E89E7A3C11D34BE30B423BA235</string>
						<key>dateExpires</key>
						<string>1.01.2027</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Swinject.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>95N24W2PH8</string>
						<key>name</key>
						<string>INOMERA ARGE VE BILISIM HIZMETLERI AS.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.8.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06CCA5E02F9214E89E7A3C11D34BE30B423BA235</string>
						<key>dateExpires</key>
						<string>1.01.2027</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>95N24W2PH8</string>
						<key>name</key>
						<string>INOMERA ARGE VE BILISIM HIZMETLERI AS.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240722.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06CCA5E02F9214E89E7A3C11D34BE30B423BA235</string>
						<key>dateExpires</key>
						<string>1.01.2027</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>95N24W2PH8</string>
						<key>name</key>
						<string>INOMERA ARGE VE BILISIM HIZMETLERI AS.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06CCA5E02F9214E89E7A3C11D34BE30B423BA235</string>
						<key>dateExpires</key>
						<string>1.01.2027</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>95N24W2PH8</string>
						<key>name</key>
						<string>INOMERA ARGE VE BILISIM HIZMETLERI AS.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06CCA5E02F9214E89E7A3C11D34BE30B423BA235</string>
						<key>dateExpires</key>
						<string>1.01.2027</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>95N24W2PH8</string>
						<key>name</key>
						<string>INOMERA ARGE VE BILISIM HIZMETLERI AS.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.37</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>95N24W2PH8.netmera.NetmeraAnalyticsApp</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>95N24W2PH8</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>NetmeraAnalyticsApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>21866197-693a-4925-9195-2d166d5788d9</string>
				<key>dateExpires</key>
				<string>17.04.2026</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: netmera.NetmeraAnalyticsApp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>95N24W2PH8</string>
				<key>name</key>
				<string>INOMERA ARGE VE BILISIM HIZMETLERI AS.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
